.dvc-txt-algn-cen {
  text-align: center;
}

.btn-file{
left: 1.25%;
}

.dvc-mar-lef-2{
margin-left: 2%;
}

.logo-align{
margin-left: 40%;
margin-bottom: -3%;
margin-top: 0.5%;
}

.dev-mar-top-2{
margin-top: 2%;
}

.search-mar-left{
margin-left: 78.7%;
}

.add-mar-btm-1{
margin-bottom: 1%;
}


